<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Datos de pedido</title>
    <link href="../static/css/datosPedido.css" th:href="@{/css/datosPedido.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyVAk4Z0xQCOIG7SNmjEbhFWKm35Z-7I"></script>
    <script th:inline="javascript">
      var lat;
      var lng;
      var MiEmpresa = new google.maps.LatLng([[${empresa.direccion.latitud}]], [[${empresa.direccion.longitud}]]);
      if([[${pedido.direccion}]] == null){
         var myLatLng = MiEmpresa;
      }
      else{
         var myLatLng = new google.maps.LatLng([[${lat}]], [[${lng}]]);
      }
      var marker;
      function initialize() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: MiEmpresa
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
        google.maps.event.addListener(map, 'click', function(event) {
          myLatLng = event.latLng;
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        lat = myLatLng.lat();
        lng = myLatLng.lng();
        document.getElementById('lat').value = lat;
        document.getElementById('lng').value = lng;
        directionsService.route({
          origin: MiEmpresa,
          destination: myLatLng,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>


<div class="box-datos">
    <h3>Detalles del carrito</h3>
    <div class="datos">
        <div class="for" th:each="op: ${pedido.opcion_pedidos}">
            <form th:action="${'/borrar/'+op.Id}" method="post">
                <button class="btn-borrar" type="submit">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </form>
            <div class="data"><label th:text="${op.option.name}">data</label></div>
            <form th:action="${'/modificar/'+op.Id}" method="post">
                <button class="btn-aceptar" type="submit">Modificar</button>
                <input class="entrada" type="text" name="cantidad" th:value="${op.cantidad}"/>
            </form>
            <div class="price"><label th:text="${op.option.price + 'Bs' }">Price</label></div>
        </div>
    </div>
    <div class="Total">
        <label class="titletotal">Total:</label>
        <label class="total" th:text="${pedido.precio + ' Bs'}">price</label>
    </div>
</div>

<div class="direccion">
    <h3>Introduzca su direccion</h3>
    <div class="form">
        <form th:action="@{/pagar}" method="post">
            <div id="map"></div>
            <div class="form-group">
                <input type="hidden" name="Id_Pedido" th:value="${pedido.id}"/>
                <input id="lat" type="hidden" name="lat"/>
                <input id="lng" type="hidden" name="lng"/>
            </div>
            <div>
                <button class="submit" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Pagar</button>
            </div>
        </form>
    </div>
</div>

<div class="retroseso">
    <a class="boton" href="/Lista_de_pedidos">Cambiar de empresa</a>
    <a class="boton" href="/pedido/continuar">Ver mas opciones</a>
    <a class="boton" href="javascript:history.back()">Atras</a>
</div>

</body>
</html>