<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link href="../static/css/loginView.css" th:href="@{/css/loginView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div align="right">
        <div class="btn-group">
            <a  class="btn" href="/registration">Registrar</a>
            <a  class="btn" href="/login">Iniciar Sesion</a>
        </div>
    </div>
</div>

<div class="box">
    <h1>Bienvenido</h1>

    <form class="loginForm" th:action="@{/login}" method="POST">
        <div>
            <input type="text" id="username" name="username" th:placeholder="E-mail"/>
        </div>
        <div>
            <input type="password"  th:placeholder="Password" id="password" name="password"/>
        </div>
        <div class="remember-me">
            Recordar: <input id="remember" type="checkbox" name="remember-me" value="true"/>
        </div>
        <button name="Submit" value="Login" type="Submit" th:text="Login">Iniciar Sesion</button>
    </form>

    <label><p>No tienes cuenta? Que esperas!</p></label>

    <form th:action="@{/registration}" method="get">
        <button type="Submit">Registrarme</button>
    </form>
</div>
</body>
</html>